camel/ingest-x12/X12-850_v1.dfdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">

    <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:defineVariable defaultValue="~%NL; ~" name="SegmentTerminator" type="xs:string" />
            <dfdl:defineVariable defaultValue="*"       name="FieldSeparator"    type="xs:string" />
            <!-- ISA-16 is supposed to override this -->
            <dfdl:defineVariable  defaultValue=":" name="CompositeSeparator" type="xs:string" />
            <dfdl:defineVariable  defaultValue="." name="DecimalSeparator" type="xs:string" />
            <dfdl:format
                encoding="UTF-8"
                escapeSchemeRef="" 
                encodingErrorPolicy="replace" 
                ignoreCase="no"
                byteOrder="{$dfdl:byteOrder}"
                representation="text"
                textStringJustification="left"
                truncateSpecifiedLengthString="no"
                decimalSigned="yes"
                textNumberCheckPolicy="lax"
                textNumberJustification="right"
                textZonedSignStyle="asciiStandard"
                textBooleanJustification="left"
                sequenceKind="ordered"
                choiceLengthKind="implicit"
                separator="" separatorSuppressionPolicy="trailingEmpty" separatorPosition="infix"
                initiator=""
                terminator=""
                documentFinalTerminatorCanBeMissing="no"
                lengthUnits="characters"
                lengthKind="delimited"
                textPadKind="none"
                textTrimKind="none"
                textStringPadCharacter="%SP;"
                textNumberPadCharacter="%SP;"
                textBooleanPadCharacter="%SP;"
                textStandardBase="10"
                textStandardDecimalSeparator="."
                textStandardExponentRep="E"
                textStandardGroupingSeparator="," 
                alignment="1" alignmentUnits="bytes" leadingSkip="0" trailingSkip="0" fillByte="0"
                initiatedContent="no"
                textNumberRep="standard"
                textStandardZeroRep=""
                textNumberRoundingMode="roundUp"
                nilValueDelimiterPolicy="none"
                emptyValueDelimiterPolicy="none"
                textStandardInfinityRep="Inf"
                textStandardNaNRep="NaN"
                textNumberRounding="pattern"
                calendarPatternKind="implicit"
                calendarPattern="yyyy-MM-dd'T'HH:mm:ss"
                calendarCheckPolicy="lax"
                calendarTimeZone="UTC"
                calendarObserveDST="yes"
                calendarFirstDayOfWeek="Monday"
                calendarDaysInFirstWeek="4"
                calendarCenturyStart="53"
                calendarLanguage="en-US"
                textCalendarJustification="left"
                textBooleanTrueRep="true"
                textBooleanFalseRep="false"
                textCalendarPadCharacter="%SP;"
                occursCountKind="implicit"
                outputNewLine="%CR;%LF;"
                binaryFloatRep="ieee"
                textBidi="no"
                nilKind="literalValue"
                useNilForDefault="no"
                floating="no"
            />
            <dfdl:defineFormat name="SegmentFormat">
                <dfdl:format terminator="{$SegmentTerminator}" emptyValueDelimiterPolicy="both" />
            </dfdl:defineFormat>
            <dfdl:defineFormat
                name="SegmentSequenceFormat">
                <dfdl:format terminator="" separator="{$FieldSeparator}" separatorPosition="prefix"
                    />
            </dfdl:defineFormat>
            <dfdl:defineFormat
                name="CompositeSequenceFormat">
                <dfdl:format terminator="" separator="{$CompositeSeparator}"
                    separatorPosition="infix" />
            </dfdl:defineFormat>
        </xs:appinfo>
    </xs:annotation>

    <xs:element name="X12_850">
        <xs:complexType>
            <xs:sequence>
              
                <!-- Header -->
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:sequence dfdl:initiatedContent="yes">
                                <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="ISA" name="ISA"
                                    type="ISAType" minOccurs="1" maxOccurs="1" />
                                <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="GS" name="GS"
                                    type="GSType" minOccurs="1" maxOccurs="1" />
                                <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="ST" name="ST"
                                    type="STType" minOccurs="1" maxOccurs="1" />
                                <xs:element name="BEG" type="BEGType" dfdl:ref="SegmentFormat" dfdl:initiator="BEG"  />
                                <!-- <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="BHT" name="BHT"
                                    type="BHTType" minOccurs="1" maxOccurs="1" />
                                <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="REF" name="REF"
                                    type="REFType" minOccurs="0" maxOccurs="3" /> -->
                            </xs:sequence>
                            <xs:element name="Loop1000" minOccurs="0" maxOccurs="2">
                                <xs:complexType>
                                    <xs:sequence dfdl:initiatedContent="yes">
                                        <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="N1"
                                            name="NM1" minOccurs="1" maxOccurs="1" type="NM1Type" />
                                        <!-- <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="N2"
                                            name="N2" minOccurs="0" maxOccurs="2" type="N2Type" /> -->
                                        <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="N3"
                                            name="N3" minOccurs="0" maxOccurs="2" type="N3Type" />
                                        <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="N4"
                                            name="N4" minOccurs="0" maxOccurs="1" type="N4Type" />
                                        <!-- <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="REF"
                                            name="REF" minOccurs="0" maxOccurs="2" type="REFType" />
                                        <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="PER"
                                            name="PER" minOccurs="0" maxOccurs="2" type="PERType" /> -->
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


                <!-- Header -->
                <xs:element name="Items">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence dfdl:initiatedContent="yes">
                                        <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="PO1"
                                            name="PO1" minOccurs="1" maxOccurs="1" type="PO1Type" />
                                
                                        <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="PID"
                                            name="PID" minOccurs="1" maxOccurs="1" type="PIDType" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Trailer -->
                <xs:sequence dfdl:initiatedContent="yes">
                    <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="CTT" name="CTT" type="CTTType" />
                    <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="AMT" name="AMT" type="AMTType" />
                    <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="SE" name="SE" type="SEType" />
                    <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="GE" name="GE" type="GEType" />
                    <xs:element dfdl:ref="SegmentFormat" dfdl:initiator="IEA" name="IEA" type="IEAType" />
                </xs:sequence>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Segment Type Definitions -->
<!-- ISA Segment -->
<xs:complexType name="ISAType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="AuthorizationInfoQualifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="AuthorizationInfo" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="SecurityInfoQualifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="SecurityInfo" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="SenderIDQualifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="SenderID" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ReceiverIDQualifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ReceiverID" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="InterchangeDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="InterchangeTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="StandardsID" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="VersionNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="InterchangeControlNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="AcknowledgmentRequested" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="TestIndicator" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ComponentElementSeparator" type="xs:string" minOccurs="1" maxOccurs="1">
      <!-- <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
          <dfdl:setVariable ref="CompositeSeparator" value="{.}"/>
        </xs:appinfo>
      </xs:annotation> -->

              <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                      <dfdl:setVariable ref="CompositeSeparator" value="{.}" />
                  </xs:appinfo>
              </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- GS Segment -->
<xs:complexType name="GSType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="FunctionalIDCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ApplicationSenderCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ApplicationReceiverCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="GroupDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="GroupTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="GroupControlNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ResponsibleAgencyCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="Version" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- ST Segment -->
<xs:complexType name="STType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="TransactionSetID" type="xs:string" minOccurs="1" maxOccurs="1" fixed="850"/>
    <xs:element name="TransactionSetControlNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- BEG Segment -->
<xs:complexType name="BEGType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="TransactionSetPurposeCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="PurchaseOrderTypeCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="PurchaseOrderNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ReleaseNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="PurchaseOrderDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- N1 Segment -->
<xs:complexType name="NM1Type">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="EntityIdentifierCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="IdentificationCodeQualifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="IdentificationCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- N3 Segment -->
<xs:complexType name="N3Type">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="AddressLine1" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="AddressLine2" type="xs:string" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- N4 Segment -->
<xs:complexType name="N4Type">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="PostalCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- PO1 Segment -->
<xs:complexType name="PO1Type">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="LineNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="QuantityOrdered" type="xs:decimal" minOccurs="1" maxOccurs="1">
      <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
          <dfdl:element textNumberPattern="#0"/>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="UnitOfMeasure" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="UnitPrice" type="xs:decimal" minOccurs="1" maxOccurs="1">
      <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
          <dfdl:element textNumberPattern="#0.##"/>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="BasisOfUnitPriceCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="ProductIDQualifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ProductID" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- PID Segment -->
<xs:complexType name="PIDType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="ItemDescriptionType" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="ProductCharacteristicCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="AgencyQualifierCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="ProductDescriptionCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
    <xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- CTT Segment -->
<xs:complexType name="CTTType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="NumberOfLineItems" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="TotalQuantity" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- AMT Segment -->
<xs:complexType name="AMTType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="AmountQualifierCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="MonetaryAmount" type="xs:decimal" minOccurs="1" maxOccurs="1">
      <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
          <dfdl:element textNumberPattern="#0.##"/>
        </xs:appinfo>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- SE Segment -->
<xs:complexType name="SEType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="NumberOfIncludedSegments" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="TransactionSetControlNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- GE Segment -->
<xs:complexType name="GEType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="NumberOfTransactionSets" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="GroupControlNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>

<!-- IEA Segment -->
<xs:complexType name="IEAType">
  <xs:sequence dfdl:ref="SegmentSequenceFormat">
    <xs:element name="NumberOfFunctionalGroups" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="InterchangeControlNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
  </xs:sequence>
</xs:complexType>



</xs:schema>